.EmojiDescription {
  width: 100%;
  height: 140px;
  background-color: aliceblue;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.EmojiDescription h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.EmojiDescription h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.EmojiDescription button {
  float: right;
}
