.CurrentPackDescription {
  width: 450px;
  height: 140px;
  background-color: aliceblue;
  margin: 20px;
  margin-top: 0;
  padding: 10px;
}

.CurrentPackDescription h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.CurrentPackDescription h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.CurrentPackDescription button {
  float: right;
}
