
<h1>Create News</h1>
<form action="">
    <div>
        <label for="">Heading:
            <input type="text">
        </label>
        <label for="">Short Description:
            <input type="text">
        </label>
        <label for="">Content:
            <textarea name="textarea" id="textarea" cols="30" rows="10">

            </textarea>
        </label>
    </div>
    <div>
        <label for="">Date:
            <input type="text">
        </label>
        <label for="">Author:
            <input type="text">
        </label>
        <label for="">Source URL:
            <input type="text">
        </label>
        <span>
            <button (click)="newMessage('ji')">Save</button>
            <button>Cancel</button>
        </span>
    </div>
</form>